@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Errore</h1>
<h2 class="text-danger">Restituito un errore processando la richiesta.<br/>
    Contatta l'amministratore.</h2>

