
@{
    ViewBag.Title = "AssegnaSpeOk";
}

<h2>Assegna Spettacolo</h2>
<hr />

<h1>
    <span class="glyphicon glyphicon-thumbs-up">  Operazione effettuata con successo</span>
</h1>
<h3>Spettacolo assegnato al punto vendita</h3>
