
@{
    ViewBag.Title = "AssegnaManOk";
}

<h2>Assegna Manifestazione</h2>
<hr />

<h1>
    <span class="glyphicon glyphicon-thumbs-up">  Operazione effettuata con successo</span>
</h1>
<h3>
    Manifestazione assegnata al punto vendita
</h3>

