
@{
    ViewBag.Title = "AssegnaEveOk";
}

<h2>Assegna Evento</h2>
<hr/>

<h1 >
    <span class="glyphicon glyphicon-thumbs-up">  Operazione effettuata con successo</span>
</h1>
<h3>Evento assegnato al punto vendita</h3>
    


