@model IEnumerable<MailTicketAzureMvc.Models.ApplicationUser>

<h2>@ViewBag.Title.</h2>

<h3>@ViewBag.Message</h3>
<p>Numero oggetti rilevati in RecuperaEventiMail: @ViewBag.Service</p>
<p>@ViewData["Dataevento"]</p>